<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample Suite">
    <!--<test name="Google Test">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="System Variable Tests">
        <classes>
            <class name="tests.PlatformAccountsTest"/>
        </classes>
    </test>
    <test name="System Variable Tests">
        <classes>
            <class name="tests.UserTest"/>
        </classes>
    </test> -->
<!--    <test name="System Variable Tests">-->
<!--        <classes>-->
<!--            <class name="tests.UserTest"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="System Variable Tests">
        <classes>
            <class name="tests.SystemVariableTest"/>
        </classes>
    </test>
</suite>